*, *before, *:after {
    word-break: break-all;
    box-sizing: border-box;
}


.Header {
    width: 100%;
}

@media screen and (max-width: 767px){
    .Header{
        padding-top: 15px;
        padding-bottom: 15px;
    }
}

@media screen and (max-width: 1080px){
    .Header{
        background-color: #fff;
        z-index: 10;
    }
}

@media screen and (max-width: 1080px){
    .Header--common {
        position: fixed !important;
    }
}

@media screen and (max-width: 767px){
    .HeaderContainer {
        max-width: 100px;
        margin: 0 20px;
        margin-top: 0px;
        margin-right: 20px;
        margin-bottom: 0px;
        margin-left: 20px;
    }
}


.HeaderContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-between;
    align-items: normal;
    justify-self: spase-between;
    position: relative;
}

.HeaderContainer > div{
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

a {
    color:#000;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
}

a:-webkit-any-link {
    cursor: pointer;
}

@media screen and (max-width: 767px){
    .HeaderLogo__image--pc {
        display: none;
    }
}

.HeaderLogo__image--pc {
    height: 20px;
    width: auto;
}

.HeaderLogo__image--pc > img {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

@media screen and (max-width: 767px){
    .HeaderLogo__image--sp {
        display: block;
    }
}

.HeaderLogo__image--sp {
    height: 16px;
    width: auto;
}

.HeaderLogo__image--sp > img {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

header {
    display: block;
}

body {
    color: #000;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-size: 14px;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
}

html {
    -webkit-text-size-adjust: 100%;
}

.HeaderContainer>*:last-child{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
}

@media screen and (max-width: 1080px){
    .HeaderNavHamburger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 30px;
    height: 21px;
    z-index: 100;
    }
}

.HeaderNavHamburger > div {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

@media screen and (max-width: 1080px){
    .HeaderNavHamburger__line:first-child{
        top: 0;
    }
}

@media screen and (max-width: 1080px){
    .HeaderNavHamburger__line{
    position: absolute;
    display: block;
    width: 100%;
    height: 3px;
    background-color: #000;
    transform: translate(0,-50%);
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: top .2s,transform .2s,opacity .3s;
    transition-property: top, transform, opacity;
    transition-duration: 0.2s, 0.2s, 0.3s;
    transition-timing-function: ease, ease, ease;
    transition-delay: 0s, 0s, 0s;
    }
}

@media screen and (max-width: 767px){
    .HeaderNavList {
        top: 52px;
    }
}

@media screen and (max-width: 1080px){
    .HeaderNavList {
    overflow-y: scroll;
    position: fixed;
    left: 100%;
    width: 100%;
    display: block;
    padding-top: 20px;
    padding-bottom: 75px;
    transition: transform .5s;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: 0s;
    z-index: 99;
    background-color: rgba(0,0,0,.8);
    height: 100%;
    }
}

.HeaderNavList {
    align-items: center;
    justify-content: space-between;
}



ul {
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    list-style-type: none;
}

.HeaderNavList > ul {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-right: 0px;
    padding-left: 0px;
}

ul {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@media screen and (max-width: 1080px){
    .HeaderNavListItem{
        margin-right: 0;
    }
}

.HeaderNavListItem > li {
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

@media screen and (max-width: 1080px){
    .HeaderNavListItem__link {
    padding: 20px 0;
    padding-top: 20px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    }
}

.HeaderNavListItem__link {
    display: block;
}

.HeaderNavListItem__button:visited{
    color: #fff;
}

@media screen and (max-width: 1080px){
    .HeaderNavListItem__button{
    font-size: 16px;
    margin: 0 auto;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    height: 60px;
    width: 250px;
    }
}

.HeaderNavListItem__button {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 38px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    border-bottom-left-radius: 38px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    justify-content: center;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-align: center;
    padding: 0 20px;
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}

.HeaderNavListItem__button:hover{
    background-color: rgba(222, 161, 103, 0.829);
}

@media screen and (max-width: 767px){
    main {
        padding-top: 52px;
    }
}

main {
    display: block;
}

@media screen and (max-width: 767px){
    .FirstView {
    background-image: none;
    padding-top: 0;
    padding-bottom: 35px;
    }
}

.FirstView {
    background-size: cover;
    background-position: center;
    background-position-x: center;
    background-position-y: center;
}

section {
    display: block;
}



@media screen and (max-width: 767px){
    .FirstView_main-image--sp {
        display: block;
    }
}

.FirstView_main-image {
    width: 100%;
}

img {
    border: 0;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    vertical-align: middle;
}

.FirstView > img {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

@media screen and (max-width: 767px){
    .FirstView__container{
        margin-top: -45vw;
    }
}

@media screen and (max-width: 767px){
    .FirstView__container{
        max-width: none;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.FirstView__container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.FirstView__container > div{
    margin: 0;
    margin-bottom: 0px;
    padding: 0;
    padding-top: 0px;
    padding-bottom: 0px;
}


@media screen and (max-width: 767px){
.FirstViewContent {
    margin-bottom: 20px;
    width: 100%;
}
}

.FirstViewContent > div {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}


*, *:before, *:after {
    word-break: break-all;
    box-sizing: border-box;
}


.About__button {
    color: #fff;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 767px){
    .FirstViewContent__title{
        font-size: 25px;
        line-height: 36px;
        margin-left: calc(((100vw - 100%)/2)*-1);
        margin-right: calc(((100vw - 100%)/2)*-1);
    }
}

.FirstViewContent__title{
    color:#000;
    font-family:  'Lato', sans-serif;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
}

.FirstViewContent__title > h2 {
    margin: 0;
    margin-top: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

h2 {
    display:block;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

@media screen and (max-width: 767px){
    .FirstViewContent__images {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: normal;
        justify-content: space-between;
        align-items: normal;
        margin-bottom: 30px;
        width: 100px;
    }
}

.FirstViewContent__images > div {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

@media screen and (max-width: 767px){
    .FirstViewContent__images img{
        width: 27.5%;
    }
}

.FirstViewContent__images img {
    margin-right: 8px;
}

.FirstViewContent__images > img {
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.FirstViewContent__images img:nth-of-type(2) {
    width: 40%;
}

.FirstViewContent__images img:last-of-type {
    margin-right: 0;
}

@media screen and (max-width: 767px){
    .FirstViewContent__buttons {
        flex-direction: column;
    }
}

.FirstViewContent__buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
}

.FirstViewContent__buttons > div {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

@media screen and (max-width: 767px){
    .FirstViewContent__buttons a:first-of-type {
        margin-right: 0;
    }
}

.FirstViewContent__buttons a:visited {
    color: #fff;
}

@media screen and (max-width: 767px){
    .FirstViewContent__buttons a {
    font-size: 14px;
    width: 100% !important;
    }
}

.FirstViewContent__buttons a {
    align-items: center;
    background-color: #f79214;
    border: none;
    border-top-color: initial;
    border-top-style: none;
    border-top-width: initial;
    border-right-color: initial;
    border-right-style: none;
    border-right-width: initial;
    border-bottom-color: initial;
    border-bottom-style: none;
    border-bottom-width: initial;
    border-left-color: initial;
    border-left-style: none;
    border-left-width: initial;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    border-radius: 38px;
    border-top-left-radius: 38px;
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
    border-bottom-left-radius: 38px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    height: 64px;
    justify-content: center;
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
    text-align: center;
}

.FirstViewContent__buttons a:hover{
    background-color: rgba(222, 161, 103, 0.829);
}

@media screen and (max-width: 767px){
    .FirstViewContent__buttons a:last-of-type {
        display: none;
    }
}

.FirstViewContent__buttons a:last-of-type {
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-top-color: rgb(224, 224, 224);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(224, 224, 224);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(224, 224, 224);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(224, 224, 224);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: #000;
}

.FirstViewCaption {
    color: #a2a2a4;
    font-size: 12px;
}

p {
    line-height: 1.5;
}

.FirstViewCaption > p {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.FirstViewCaption a {
    color: #a2a2a4;
}

@media screen and (max-width: 767px){
    .AboutWrapper{
    padding: 30px 0;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
    }
}

.AboutWrapper{
    background-color: #f79214;
}

.AboutWrapper > div {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

@media screen and (max-width: 1024px){
    .About{
        flex-direction: column;
    }
}

@media screen and (max-width: 767px){
    .About{
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
    }
}

.About{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 767px){
    .About__video {
        width: 100px;
    }
}

@media screen and (max-width: 1024px){
    .About__video{
        margin-bottom: 16px;
    }
}

video {
    object-fit: contain;
}

@media screen and (max-width: 767px){
    .About__title {
        margin-bottom: 0;
        width: 100%;
    }
}

@media screen and (max-width: 1024px){
    .About__title {
        margin-left: 0;
    }
}

.About__title{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: flex-start;
}

.About__title > div {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

@media screen and (max-width: 400px){
    .About__title h2 {
    line-height: 1.4;
    white-space: pre;
    word-break: keep-all;
    }
}

.About__title h2 {
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
    font-weight: 900;
    letter-spacing: .1em;
    width: 100%;
    color: #fff;
    text-align: left;
}

@media screen and (max-width: 767px){
    .About__title h2 {
        font-size: 30px !important;
    }
}

.About__title > h2 {
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.About__title h2>span {
    font-family: 'Lato',sans-serif;
    font-size: 38px;
}

@media screen and (max-width: 767px){
    .About__title h2 span {
        letter-spacing: 1px;
    }
}

.About__title h2 span {
    font-weight: 900;
}

@media screen and (max-width: 400px){
    .About__title br {
        display: block;
    }
}

.About__title p {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 16px;
}

.About__title p {
    color: #fff;
    text-align: left;
    display: inline-block;
    margin-top: 10px;
}

.About__title > p{
    margin: 0;
    margin-right: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.About__button {
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: normal;
    align-items: normal;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.About__button>img {
    margin-right: 5px;
    margin: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}